{{> htmlhead }}

{{> header }}

<!-- start template content -->
<div class="body">
<h1>{{name}} -- {{bazz}}</h1>
<p>{{templateName}}</p>
<table>
    <tr>
        <td>
            ${in.the.template}
            {{> sidebarl_foo }}
        </td>
        <td>
        <table>
            <!-- start each product -->
            {{#each products}}
                {{#productgetter}}
                    {{> applications_productlisting }}
                {{/productgetter}}
            {{/each}}
            <!-- end each product -->
        </table>
        </td>
        <td>
            {{> sidebarr_baz }}
        </td>
    </tr>
</table>
</div>
<!-- end template content -->

{{> htmlfoot }}